@model IEnumerable<Projekt_Zarzadzanie_Rezerwacjami.Models.Rezerwacja>

@{
    ViewData["Title"] = "Admin";
    var isAdminPanel = ViewBag.AdminPanel == true;
}

<h1 class="text-center">Panel Admina</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                    <div class="d-flex justify-content-center align-items-center">
                <h5 class="card-title">Today Reservations</h5>
                </div> 
                    <div class="d-flex justify-content-center align-items-center">
                <a asp-controller="Rezerwacje" asp-action="Today" class="btn btn-primary">Today</a>
                            </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center">
                <h5 class="card-title">Dodaj rezerwacje</h5>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                <a asp-controller="Rezerwacje" asp-action="Create" class="btn btn-primary">Dodaj</a>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form> 
            <div class="d-flex justify-content-center align-items-center">
            <h5>Filtruj po dacie</h5>
            </div>
            <div class="d-flex justify-content-center align-items-center">
            <input type="date" name="searchDate" required/>
            </div>
            <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary" asp-action="Filter">Filtruj</button>
            </div>
            </form>
        </div>
        </div>
        </div>
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
            <div class="card-body">
                <div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.EndReservationDate)
            </th>                 
            <th>
                @Html.DisplayNameFor(model => model.Rozmiar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsExclusive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rozmiar)
            </td>
                                    <td>
                                        @if (item.Room != null)
                                        {
                                            <button type="button" class="btn btn-sm btn-info">
                                                @item.Room.salaName
                                            </button>
                                            <button type="button" class="btn btn-sm btn-info">
                                               Rozmiar @item.Room.Capacity
                                            </button>
                                            <button type="button" class="btn btn-sm btn-info">
                                                Czy ma tv @item.Room.HasTv
</button>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsExclusive)
            </td>
           
            <td>
                <a asp-controller="Rezerwacje" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Rezerwacje" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Rezerwacje" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>